html,body,#root {
	height: 100%;
	width: 100%;
}

* {
	font-size: 100%;
	font-family: "Skia";
}

:root {
  --main-color: #E8E8E8;
  --font-color: #96939B;
  --btn-font-color: white;
  --primary-btn-color: #75BCC6;
  --error-color: #ed6173;
  --accent-color: #86E0B5;
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.TutorialPage {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.LogoPanel {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	height: 20%;
	width: 100%;
}

.TitleImage {
	height: 40%;
}

.GeneratePage {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 90%;
	width: 100%;
	font-size: 4em;
}

.PatternDisplay {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80%;
	width: 70%;
	background-color: white;
}

.TutorialPanel {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: var(--main-color);
	color: var(--font-color);
	font-size: .6em;
	text-align: center;
	height: 70%;
	width: 60%;
	padding: 5%;
}

.DescriptionPanel {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	width: 50%;
}

.CuteButton {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--primary-btn-color);
	cursor: pointer;
	color: var(--btn-font-color);
	border-radius: 5px;
}

.BackBtn, .NextBtn, .FinishBtn {
	font-size: 2em;
	height: 100%;
	width: 10%;
	border-radius: 50%;
	margin: 5px;
}

.FinishBtn {
	background-color: var(--accent-color);
}

.PrintBtn {
	font-size: 2em;
	height: 100%;
	width: 80%;
}

.MeasurementImage {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 50%;
}

.DescriptionTitle {
	display: flex;
	height: 10%;
	width: 100%;
	font-size: 4em;
}
.DescriptionText {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50%;
	width: 100%;
	font-size: 2em;
}

.InputPanel {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10%;
	width: 100%;
	font-size: 1em;
}

.ErrorPanel {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10%;
	width: 100%;
	font-size: 1.5em;
	color: var(--error-color);
}

.MeasurementInput {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 30%;
	font-size: 2em;
	border:none;
	border-radius: 5px;
}
