html,body,#root {
	height: 100%;
	width: 100%;
}

* {
	font-size: 100%;
	font-family: Palatino;
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.MeasurementsPage, .GeneratePage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.CuteButton {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: pink;
	cursor: pointer;
	font-size: .2em;
	border-radius: 20px;
}

.Measurements {
	display: flex;
	flex-direction: column;
	height: 60%;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.LogoPanel {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20%;
	width: 100%;
}

.LogoImage {
	height: 100%;
}

.ContentPanelMeasurements, .ContentPanelPattern {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80%;
	width: 100%;
	font-size: 4em;
}

.ContentPanelPattern {
	flex-direction: row;
	justify-content: space-around;
}

.HeaderPanel {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20%;
	width: 100%;
	font-size: 1.2em;
}

.ButtonPanel {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 80%;
	width: 100%;
}

.SizeButtonPanel {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 50%;
	width: 100%;
	font-size: 1em;
}

.GeneratePanel {
 	display: flex;
	align-items: center;
  	justify-content: center;
	cursor: pointer;
	font-size: 1.5em;
	height: 40%;
	width: 100%;
}

.GenerateButton {
	height: 50%;
  	width: 50%;
}

.PatternPreview {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90%;
	width: 40%;
	border:1px solid;
	border-radius:30px;
}

.PrintButtonPanel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 90%;
	width: 40%;
	border:1px solid;
	border-radius:30px;
}

.PrintButton {
	height: 30%;
  	width: 30%;
}


